<div id="footer" class="widget-footer">
    <footer>
        <div class="ft-copyright">
            <div class="container">
            <div class="mb-social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-youtube"></i></a>
            </div>
            <p>© 2017 All rights reserved.</p>
            </div>
        </div>
    </footer>
</div>