<!-- <div id="header-mobile" class="visible-xs">
    <header>
        <div class="m-header-body">
            <img src="assets/img/logo_white.png" class="logo" alt="Logo">
            <p class="m-site-descr">Multipurpose Portfolio</p>
        </div>
    </header>
</div> -->
<div id="header" class="top-menu">
    <header>
        <div class="container">
            <div class="row">
            <div class="col-md-2 tm-logo">
                <img src="assets/img/logo-new.png" class="logo" alt="Logo" style="width: 60%">
            </div>
            <div class="col-md-10 tm-menu">
                <nav>
                    <ul class="top-main-menu mtmenu">
                        <li><a href="/">Home</a></li>
                        <li class="menu-item-has-children">
                        <a>Gallery</a>
                        <ul class="dropdown">
                            <li><a href="gallery/holding.html">Barely Holding On</a></li>
                            <li><a href="gallery/metron.html">Metron Series</a></li>
                        </ul>
                        </li>
                        <li><a href="about-me.html">About Me</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a>Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul> <!-- top-main-menu -->
                </nav>
            </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header>
</div> <!-- header -->